<%= content_tag :dd, class: "accordion-navigation" do %>
  <%= link_to "\##{category.parameterize}-accord-btn", class: 'accordion-title' do%>
    <%= category %>
    <span class="right"><i class="fa fa-caret-down"></i></span>
  <% end %>

  <%= content_tag :div, :id => "#{category.parameterize}-accord-btn", class: 'content' do %>
    <% tasks.each do |task| %>
      <!-- li inside a div? -->
      <%= content_tag :li do %>
        <%= link_to task do %>
          <%= task.name %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>